<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画廊</title>
    <link rel="stylesheet" href="../style.css">

    <script>
        function openImageInNewWindow(imageUrl) {
            window.open(imageUrl, '_blank', 'width=800,height=600');
        }
    </script>
</head>

<body class="gallery-page-body">

    <div class="gallery-label">
        <img src="../image/icon/照片_pic.png" alt="图标" class="gallery-label-icon">
        <span class="gallery-label-text">画廊</span>
    </div>
    <div class="gallery-container">

        <!-- 画框卡片 -->
        <div class="gallery-card">
            <div class="gallery-info">
                <h3>KFC海报</h3>
                <p class="description">灵感来源于KFC，用比较精彩的配色和炸鸡桶图形创作出了一个极简风格的KFC宣传海报</p>
                <p class="date">日期: 大二</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/精致KFC.png" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/精致KFC.png')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>脸谱文化1</h3>
                <p class="description">通过PS加工和CSS样式设计，对图片进行加工处理后，配上文字，效果非常好</p>
                <p class="date">日期: 大三</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/脸谱1.png" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/脸谱1.png')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>脸谱文化2</h3>
                <p class="description">使用HTML+CSS实现的响应式布局Card</p>
                <p class="date">日期: 大三</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/脸谱2.png" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/脸谱2.png')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>素描1</h3>
                <p class="description">大一时，素描课期间所绘制</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/素描1.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/素描1.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>素描2</h3>
                <p class="description">大一时，素描课期间所绘制</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/素描2.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/素描2.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>素描3</h3>
                <p class="description">大一时，素描课期间所绘制</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/素描3.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/素描3.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>临摹</h3>
                <p class="description">大一时，素描课期间所临摹</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/临摹1.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/临摹1.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>设计</h3>
                <p class="description">大一时，素描课期间所设计</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/原创1.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/原创1.jpg')">

            </div>
        </div>



        <div class="gallery-card">
            <div class="gallery-info">
                <h3>摄影1</h3>
                <p class="description">大一时候去天池公园玩所拍到的绝景</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/摄影1.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/摄影1.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>摄影2</h3>
                <p class="description">大二时候去翠屏山玩所拍到的绝景</p>
                <p class="date">日期: 大二</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/摄影2.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/摄影2.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>摄影3</h3>
                <p class="description">宜宾夜景</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/摄影3.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/摄影3.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>摄影4</h3>
                <p class="description">大一时候的图书馆，空前宁静</p>
                <p class="date">日期: 大一</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/摄影4.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/摄影4.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>PS设计</h3>
                <p class="description">大二PS课期间所设计</p>
                <p class="date">日期: 大二</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/peacekeeper.jpg" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/peacekeeper.jpg')">

            </div>
        </div>

        <div class="gallery-card">
            <div class="gallery-info">
                <h3>板绘</h3>
                <p class="description">老早以前画的头像了，很可爱</p>
                <p class="date">日期: 高中</p> <!-- 左下角的日期 -->
            </div>
            <div class="gallery-content">
                <img id="contentImage" src="../image/work/头像.png" alt="内容图像"
                class="thumbnail"
                onclick="openImageInNewWindow('../image/work/头像.png')">

            </div>
        </div>




</body>

</html>